header {
    background-image: url('../assets/images/header_background.png');
    z-index: 6;
}

.md-tabs {
    background-color: transparent !important;
}

.md-header__topic span.md-ellipsis {
    paint-order: stroke fill;
    -webkit-text-stroke: 5px white;
    padding: 0 5px 0 5px;
}

.md-tabs__list .md-tabs__link {
    paint-order: stroke fill;
    -webkit-text-stroke: 3px white;
    padding: 0 5px 0 5px;
}

.md-search__input {
    background: #0000004d !important;
}

.md-search__input::placeholder {
    color: black !important;
}

.discordiframe {
    margin-left: 10px;
}

.discord-reference {
    color: #7e56c2 !important;
}

.gold_text {
    color: #ffc105;
}

.gold_text a {
    color: #ffc105;